@model i_facility.Models.tbluser
@{
    ViewBag.Title = "Change Password";
}
@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)*@
    <div class="wrp clearfix">
        @*style="background-color:red" box outside create role*@
        <div class="fluid">
            <div class="widget col-md- grid12">
                <div class="widget-header" style="background-color: red">
                    <div class="widget-title">
                        <span style="font-style: oblique; font-size: 100%">Reset Password </span>
                    </div>
                </div>
                <!-- /widget-header -->

                <div class="widget-content pad20f">
                    <label for="input-1" class="stacked-label" style="resize: horizontal; width: 20%; color: blue; font-style: oblique">User Name</label>
                    @Html.TextBoxFor(model => model.UserName, new { @id = "UserName", @class = "form-control", @name = "UserName ", style = "width:89.7%", @placeholder = "User Name", @disabled = "disabled", @required = "required" })
                    @Html.ValidationMessageFor(model => model.UserName)


                    <label for="input-2" class="stacked-label" style="resize: horizontal; width: 20%; color: blue; font-style: oblique">Current Password</label>
                    @Html.PasswordFor(model => model.Password, new { @id = "CurrPassword", @class = "form-control", @name = "Password ", style = "width:89.7%", @placeholder = "Password ", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Password)


                    <label for="input-1" class="stacked-label" style="resize: horizontal; width: 20%; color: blue; font-style: oblique">Change Password</label>
                    @Html.PasswordFor(model => model.Password, new { @id = "cngPassword", @class = "form-control", @name = "cngPassword ", style = "width:89.7%", @placeholder = "Change Password ", @required = "required" })
                    @*@Html.ValidationMessageFor(model => model.DisplayName)*@


                    <label for="input-2" class="stacked-label" style="resize: horizontal; width: 20%; color: blue; font-style: oblique">Confirm Password</label>
                    @Html.PasswordFor(model => model.Password, new { @id = "cnfPassword", @class = "form-control", @name = "cnfPassword ", style = "width:89.7%", @placeholder = "Confirm Password ", @required = "required" })
                    @*@Html.ValidationMessageFor(model => model.DisplayName)*@

                </div>
                <div style="width: 10%; display: inline-block; height: inherit"></div>
                @Html.ActionLink(" Back ", "Index", new { }, new { @class = "btn stacked-input fa fa-reply fa-1x", @style = "text-decoration:none;display:inline-block;color:black" })
                <div style="width: 20%; display: inline-block; height: inherit"></div>
                <input type="button" value="Reset Password" id="update" class="btn btn-lavender inverse" style="width: 20%; display: inline-block; height: inherit;margin-top:2%;color:white;background-color:grey;font-size:1.1vw" />
                @Html.HiddenFor(model => model.UserID)
                
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <!-- /Class-fluid-->

@* } *@

<script src="~/js/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function (e) {
        $("#cngPassword").prop("disabled", true);
        $("#cnfPassword").prop("disabled", true);
    });
</script>
<script>
    $("#CurrPassword").on("change", function (e) {
        var username = $("#UserName").val();
        var currpass = $(this).val();
        $.get("/Login/VerifyPassword", { currpass: currpass, username: username}, function (res) {
            if (res == "Success") {
                $("#cngPassword").prop("disabled", false);
                $("#cnfPassword").prop("disabled", false);
            }
            else {
                alert("User is not valid please try again");
            }
        });
    });
</script>

<script>
    $("#update").on("click", function (e) {
        var username = $("#UserName").val();
        var password = $("#cngPassword").val();
        if (password != "") {
            $.post("/Login/ChangePassword", { username: username, password: password }, function (res) {
                if (res == "Success");
                {
                    alert("Reset Password Successfully");
                    window.location.href = "/Login/Index";
                }
            });
        }
        else
            {
            alert("Please enter all the details before Resetting Password");
            }

    });
</script>